body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.page{
    width: 60%;
    border: solid 1px;
    margin: 0 auto;
    padding: 40px; 
}



#imgPhoto{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#imgText{  
    width: 200px;
    height: 100;
}