*{
    margin: 0 auto;
}

.page{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e2e2;
    padding-bottom: 200px;
}

.row{
    clear: both;
    overflow: auto;
}

table, td, th{
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse;
    padding: 7px;
}

th{
    color: darkgrey;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

td{
    font-size: 14px;
    text-align: center;
}

h1{
    float: left;
    min-width: 50%;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
}

h2{
    font-size: 20px;
    padding: 10px;
}

h3{
    font-size: 14px;
    padding-top: 20px;
}

/* Cabeçalho*/
.header{
    background-color: rgb(39, 65, 99);
    color: #fff;
    overflow: auto;
}

.menu{
    bottom: 0px;
    clear: both;
    padding-left: 25%;
    padding-right: 25%;
    width: auto 100%;
}

.menuItem{
    float: left;
    width: 12.5%;
    height: 80px;
    text-align: center;
}

/* Grupos */
.ranking{
    width: 50%;
    background-color: #fff;
    padding: 20px;
}

.tableRanking{
    width: 100%;
}

.thCulbName{
    width: 50%;
}

.thLast{
    width: 20%;
}

.tdPosition{
    width: 3%;
}

.tdImgClub{
    width: 5%;
}

.tdClubName{
    width: 42%;
    text-align: left;
}

.imgClub{
    width: 20px;
    height: 20px;
}

.gameWin{
    background-image: url("../assets/img/v.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 5px;
}

.gameLoss{
    background-image: url("../assets/img/d.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 5px;
}

.gameDraw{
    background-image: url("../assets/img/e.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 5px;
}

/* Goleadores */
.goals{
    width: 50%;
    background-color: #fff;
    padding: 20px;
}

.tableGoals{
    width: 100%;
}

.tdPlayerName{
    text-align: left;
    width: 90%;
}

.spanClubName{
    font-size: 12px;
    color: darkgrey;
}

/* Jogos*/
.matches{
    width: 50%;
    background-color: #fff;
    padding: 20px;
}

.tableAllMatches{
    width: 100%;
}

.tableMatches{
    width: 100%;
    border-bottom: 0px;
}

.tableMatches .tdClubName{
    width: 80%;
}

.tdTotal{
    font-size: 14px;
    color: darkgrey;
    text-align: left;
}

.tableMatches th, .tableMatches td{
    border-bottom: 0px;
}

.tdTime{
    font-size: 10px;
}